{% extends 'base.twig' %}

{% block body %}


<div class="container">
    {% if user is not null %}
        <p>Привет, {{ user.username|escape }}</p>
    {% else %}
        <p>Вы не вошли в свой аккаунт</p>
    {% endif %}
    {% set rowCount = 1 %}
    {% for post in posts %}
        {% if rowCount == 1 %}
    <div class="container row">
        {% endif %}


        <div class="p-1">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ post.url_key }}">{{ post.name|escape }}</a></h5>
                    <p class="card-text">Адрес: {{ post.adress|escape }}</p>
                    <p class="card-text">Телефон: {{ post.phone|escape }}</p>
                    <p class="card-text">Гениральный директор: {{ post.director|escape }}</p>
                </div>
            </div>
         </div>
        {% set rowCount = rowCount +1 %}
        {% if rowCount == 1 %}
            </div>
        {% endif %}
        {% if rowCount > 3 %}
            {% set rowCount = 1 %}
        {% endif %}
    {% endfor %}

</div>
    <a href="/create" class="btn btn-primary" style="color: #fff; cursor: pointer; margin-top: 15px;">
        Новый пост</a>
{% endblock %}